:root {
    font-size: calc( 0.5em + 1vw);
    color:black;
    font-family: 'Didact Gothic', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#iniciar{
    background-color: transparent;
    border: #1F618D 3px solid;
    color: rgb(255, 255, 255);
    font-family: 'Didact Gothic', sans-serif;
    border-radius: 20%;
    font-size: calc( 0.2em + 1vw);
}

label{
    color: rgb(255, 255, 255);
}

body{
    margin: 0%;
    padding: 0;
    background-color: #292929;
    
}

#logo{
    height: 4em;
}

form{
    align-self: center;
}

fieldset{
    border-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    
}

.Content{
    display: flex;
    background-color: rgba(2, 81, 134, 0.828);
    margin: 0;
}
section{
    height: 100%;
    padding: 1em 3em 1em 3em;
}
.info{
    padding: 1em;
}

footer{
    margin: 0;
    height: 5em;
    background-color: rgb(22, 22, 22);
   
}
footer, p{
    margin: 0;
    color: white;
}

#img-content{
    height: 25em;
}