:root {
    font-size: calc( 0.5em + 1vw);
    color:black;
    font-family: 'Didact Gothic', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#iniciar{
    background-color: #1F618D;
    border: #1F618D 1px solid;
    color: rgb(255, 255, 255);
    font-family: 'Didact Gothic', sans-serif;
    border-radius: 20%;
    font-size: calc( 0.2em + 1vw);
    padding: 0.3em;
}

#nombre , #email, #password{
    width: 100%;
    height: 2em;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.5em;
}

label{
    color: rgb(255, 255, 255);
}

body{
    margin: 0%;
    padding: 0;
    background-color: #292929;
}

#logo{
    height: 3.5em;
    margin-left: 3%;
    align-self: center;
}


form{
    align-self: center;
}

fieldset{
    border-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: black;
    height: 15vh;
}

.login{
    background-color: rgba(175, 176, 177, 0.828);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 80%;
}

#registrate{
    margin: 2em 0 1em 0;
    width: 100%;
    height: 3.5em;
    border:  rgba(2, 81, 134, 0.828) 1px solid;
    background-color:  rgba(2, 81, 134, 0.828);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    border-radius: 4%;
}

.formu{
    display: grid;
    grid-template-columns: 50% 50%;
    
    margin: 0;
    height: 80vh;
}

section{
    height: 100%;
    padding: 1em 3em 1em 3em;
}
.info{
    padding: 1em;
    background-image: url('foto7.jpg');
    background-size: cover;
}

#dl{
    background-color: #292929;
    opacity: 0.5;
    padding: 5%;
    border-radius: 1em;
}

footer{
    margin: 0;
    height: 5em;
    background-color: rgb(22, 22, 22);
   
}
footer, p{
    margin: 0;
    color: white;
}

#img-content{
    height: 25em;
}
#welcome{
    color: aqua;
}